*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /* rem --> 1rem = 10px*/
}

body{
    min-width: 320px;
    
}

.header {
    width: 100%;
    height: 50px;
    margin-right: auto;
    background: url(https://farm5.staticflickr.com/4229/35149472822_01e8395685_t.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
}

.header__h1 {
    font-family: 2rem;
    letter-spacing: 3px;
    margin: auto;
    color: white;
    width: 60%;
    text-align: center;
}

.section{
    width: 100%;
    height: calc(100vh - 100px);
    background: url(https://farm5.staticflickr.com/4229/35149472822_01e8395685_t.jpg);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section__aside {
    display: none;
}

.section__main{
    width: 100%;
    height: 70%;
    border: 6px solid white;
    border-radius: 20px;
    padding: 10px 10px;
}

.section__main-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.section__main-table td{
    text-align: center;
    font-size: 4.5rem;
    width: 33.33333%;
}

.section__main-table tr{
    height: 33.33333%;
}

#c1_1 , #c1_2, #c2_1, #c2_2, #c3_1 , #c3_2 {
    border-right: 2px solid white;
}

#c1_1 , #c1_2, #c1_3, #c2_1, #c2_2 , #c2_3 {
    border-bottom: 2px solid white;
} 

.button_sel{
    display: block;
}

.button_select{
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 4.5rem;
}

#score_1, #score_2, #score_1m, #score_2m {
    font-size: 3rem;
}

.footer {
    width: 100%;
    height: 50px;
    background: url(https://farm5.staticflickr.com/4229/35149472822_01e8395685_t.jpg);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_start {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #477bae;
    color: #fafafa;
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 20px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
.button_start:hover {
    filter: brightness(1.3);
    cursor: pointer;;
}


#ranGame , #start {
    cursor: pointer;
}

#nextButton, #cleanButton {
    background-color: grey;
    cursor: default;
}

.modal-container{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal{
    width: 60%;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}

.modal-close{
    transform: translateY(-200%)
}

.modal img{
    width: 30%;
}

.modal-text{
    font-size: 1.5rem;
    color: #477bae;
    text-align: center;
}

.start_button{
    width: 120px;
    font-size: 2rem;
}