.header{
    height: 50px;
}

.header__h1{
    font-size: 4rem;
}

.section{
    flex-direction: row;
    height: calc(100vh - 100px);
}

.section__div-mobile {
    display: none;
}

.section__aside{
    width: 12%;
    height: 50%;
    border: 2px solid white;
    border-radius: 20px;
    background: linear-gradient(#63abf3, black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section__aside-h2{
    color: white;
    letter-spacing: 2px;
    font-size: 1.8rem;
    text-align: center;
}

.section__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.section__div-p{
    font-size: 1.5rem;
}

.section__div-number-score{
    font-size: 4rem;
}

.section__main{
    width: 50%;
    height: 100%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 10px;
}

.footer{
    height: 50px;
    
}